<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/hero-slider.css">
        <link rel="stylesheet" href="static/css/templatemo-main.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->
<body>

    <div class="fixed-side-navbar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#home"><span>Intro</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#services"><span>About</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Technologies</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#our-story"><span>Our flow</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Upload input</span></a></li>
        </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>Deep Learning</h1>
                <span><em>IDENTIFICATION OF 
                    MEDICINAL PLANTS USING MACHINE LEARNING 
                    Techniques</em></span>
                <div class="primary-button">
                    <a href="#services">Know More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4>More About Project</h4>
                        <div class="line-dec"></div>
                        <p>Classification of the plant species based on the leaf 
                            requires some preprocessing. The first step is segmenting 
                            the leaf from the background where the lighting condition is 
                            uncontrolled. The next step is extracting the features based 
                            on color and texture from the segmented leaf. The third and 
                            the last step is to categorize the plant species with the above 
                            said extracted features.</p>
                        <ul>
                            <li>-  Deep Leaarning</li>
                            <li>-  Automatic Medicinal Plant leafe  classification</li>
                            <li>-  Convolutional Neural Network</li>
                            <li>-  Mobile net algorithm</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">Know about technologies used</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Accurate Classification</h4>
                                <div class="line-dec"></div>
                                <p>CNN based transfer learning algorithm gives accurate classfications for the considered dataset.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Less complexity</h4>
                                <div class="line-dec"></div>
                                <p>With deep learning it does not have more complexity to train with the images dataset.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>High performance</h4>
                                <div class="line-dec"></div>
                                <p>When compared with the machine learning algorithms deep learning have high performance.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>High Accuracy</h4>
                                <div class="line-dec"></div>
                                <p>Along with the proper classification and performances we will also obtain high accuracy.</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    
    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/AI3.jpg" style="weight:350px; height:326.48px;" data-lightbox="image-1"><img src="static/img/AI3.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>Artificial Intelligence</h4>
                                    <span>Mimic a human</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/python6.jpg" data-lightbox="image-1"><img src="static/img/python6.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>Python</h4>
                                    <span>Highly expressive language</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/DL5.jpg" data-lightbox="image-1"><img src="static/img/DL5.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>Deep Learning</h4>
                                    <span>Sub part of Artificial Intelligence</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/flask.png" data-lightbox="image-1"><img src="static/img/flask.png" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>Flask</h4>
                                    <span>A python web frame</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/web1.jpg" data-lightbox="image-1"><img src="static/img/web1.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>Web Application</h4>
                                    <span>Creating own website</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/html2.jpg" data-lightbox="image-1"><img src="static/img/html2.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>HTML</h4>
                                    <span>Hyper Text Markup Language</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/css4.jpg" data-lightbox="image-1"><img src="static/img/css4.jpg" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>CSS</h4>
                                    <span>Cascading Style Sheets</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="static/img/js.png" data-lightbox="image-1"><img src="static/img/js.png" style="weight:250px; height:235px;" alt=""></a>
                                <div class="text-content">
                                    <h4>JS</h4>
                                    <span>Java Script</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                    <section id="first-tab-group" class="tabgroup">
                      <div id="tab1">
                        <img src="static/img/1st-tab.jpg" alt="">
                        <p>At first we will be designing the flow through which we can select our dataset, choose the model/algorithm we are goinfg to use and the implementation steps.</p>
                      </div>
                      <div id="tab2">
                        <img src="static/img/fish1.jpg" style="weight:750px; height:426.72px;" alt="">
                        <p>In this we are considering the fish dataset of different spcies. There are totally 11 classes of species which are considered. Once after considering the dataset, the pre-processing of dataset is performed.</p>
                      </div>
                      <div id="tab3">
                        <img src="static/img/cnn.png" alt="">
                        <p>Once after completing the pre-processing of the dataset, we will be training our dataset using the Convolutional Neural Network bases transfer learning algorithm. After the training, we can perform the testing by giving input image.</p>
                      </div>
<!--                      <div id="tab4">-->
<!--                        <img src="static/img/4th-tab.jpg" alt="">-->
<!--                        <p>Duis risus nulla, elementum vitae nisi a, ornare maximus nisl. Morbi et vehicula est. Cras at vulputate justo. Cras eu nulla metus. Ut et pretium velit. Pellentesque at neque tristique.</p>-->
<!--                      </div>-->
                    </section>
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                      <li><a href="#tab1" class="active">Project flow</a></li>
                      <li><a href="#tab2">Dataset</a></li>
                      <li><a href="#tab3">Data training</a></li>
<!--                      <li><a href="#tab4">2019 - Now</a></li>-->
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content contact-content" id="contact-us">
        <center>
        <div class="container">
            <div class="center">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="center">
                            <h2 class="section-heading mb-4">

                                         <center><span style = "color:white"  class="section-heading-center">Upload an image </span></center>

                                    </h2>

                            <form id="upload-form" action="{{url_for('upload') }}" method="POST" enctype="multipart/form-data">
                                <div class="row">
<!--                                    <h2 class="section-heading mb-4">-->

<!--                                         <center><span style = "color:white"  class="section-heading-center">Upload an image </span></center>-->

<!--                                    </h2>-->
<!--                                    <form id="upload-form" action="{{url_for('upload') }}" method="POST" enctype="multipart/form-data">-->
                                        <input class="btn btn-primary btn-block btn-large" type="file" name="file" accept="image/*" multiple>
                                        <input type="submit" value="Predict!" class="btn btn-primary btn-block btn-large">
                                    </form>
                                    </div>
                                </div>
<!--                            </form>-->
                        </center>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";  
            }
            document.getElementById(cityName).style.display = "block";  
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

</body>
</html>